@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #212A3E;
    --cor--secundaria: #F6f6f6;
    --cor-terciaria: #1C82AD;
    --cor-hover: #9BA4B5;
    --fonte-primaria: 'krona one', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
/*O Body do site inteiro*/
body{
    background-color: var(--cor-primaria);
    color: var(--cor--secundaria);
}
/*Cabeçalho*/
.cabecalho__menu{
    display: flex;
    flex-direction: row;
}
/*Itens do Menu*/
.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 15px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    padding: 50px;
    padding-left: 150px;
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__texto__{

    color:var(--cor-hover);
}

.apresentacao__conteudo__titulo {
    color: var(--cor-terciaria);
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo__dois {
    color: var(--cor-hover);
    font-size: 26px;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 19px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao__conteudo__texto__destaque {
    color: var(--cor-terciaria);

}
/*LOGO DO CABEÇALHO*/
.apresentacao__conteudo__imagem {
    position: absolute;
    left: 990px;
    bottom: 20px;
    width: 20%;
    border-radius: 50%;
    align-items: center;
}

.apresentacao__conteudo__imagem__cultos {
    width: 50%;
    position:absolute;
    left: 50%;
    top: 50%;
    height: 50%;

   
}

.apresentacao__conteudo__imagem__cultos__{
    flex-direction: column;
    align-items: center;

}

.apresentacao__links {
    display: flex;
   flex-direction: column;
   justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 32px;
    border: 2px;
    width: auto;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: var(--fonte-secundaria);

}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}
