

.apresentacao__nossas__redes{
    padding: 8% 15% 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    color: var(--cor-terciaria);
    font-size: 36px;
    font-family: var(--fonte-primaria);
    
}

.apresentacao__conteudo__titulo__dois {
    color: var(--cor-hover);
    font-size: 26px;
    font-family: var(--fonte-primaria);
   
    
}


.apresentacao__conteudo__texto{
    font-size: 19px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
  
    
}

.apresentacao__conteudo__texto__destaque{
    color: var(--cor-terciaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 5%;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--cor-terciaria);
    width: auto;
    text-align: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor--secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.edicao__imagem{
    width: 5%;
}
