@media screen and (max-width: 700px) {
    /*Cabeçalho*/
    .cabecalho__menu{
    display: flex;
    flex-direction: row;
    }

    /*Itens do Menu*/
    .cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 15px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    padding: 20px;
    padding-left: 5px;
    }

    /*IMAGEM*/
    #image_igreja{
    width: 450px;
    margin: 10px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    }

}